[submodule "tools/cc2538-bsl"]
	path = tools/cc2538-bsl
	url = https://github.com/JelmerT/cc2538-bsl.git
[submodule "arch/cpu/cc26xx-cc13xx/lib/cc26xxware"]
	path = arch/cpu/cc26x0-cc13x0/lib/cc26xxware
	url = https://github.com/contiki-ng/cc26xxware.git
[submodule "arch/cpu/cc26xx-cc13xx/lib/cc13xxware"]
	path = arch/cpu/cc26x0-cc13x0/lib/cc13xxware
	url = https://github.com/contiki-ng/cc13xxware.git
[submodule "tools/sensniff"]
	path = tools/sensniff
	url = https://github.com/g-oikonomou/sensniff.git
[submodule "tools/cooja"]
	path = tools/cooja
	url = https://github.com/contiki-ng/cooja.git
[submodule "os/net/security/tinydtls"]
	path = os/net/security/tinydtls
	url = https://github.com/contiki-ng/tinydtls.git
[submodule "tests/18-coap-lwm2m/example-lwm2m-standalone"]
	path = tests/18-coap-lwm2m/example-lwm2m-standalone
	url = https://github.com/contiki-ng/example-lwm2m-standalone.git
[submodule "tools/motelist"]
	path = tools/motelist
	url = https://github.com/contiki-ng/motelist
[submodule "arch/cpu/simplelink-cc13xx-cc26xx/lib/coresdk_cc13xx_cc26xx"]
	path = arch/cpu/simplelink-cc13xx-cc26xx/lib/coresdk_cc13xx_cc26xx
	url = https://github.com/contiki-ng/coresdk_cc13xx_cc26xx.git
[submodule "arch/cpu/cc26xx-cc13xx/lib/cc2640r2-sdk"]
	path = arch/cpu/cc26x0-cc13x0/lib/cc2640r2-sdk
	url = https://github.com/contiki-ng/cc2640r2-sdk.git
[submodule "arch/cpu/nrf52840/lib/nrf52-sdk"]
	path = arch/cpu/nrf52840/lib/nrf52-sdk
	url = https://github.com/contiki-ng/nrf-sdk-contiki-ng.git
