*.a
*.bin
*.hex
*.map
*.png
*.log
*.elf
*.zip
*.d
*.o
*.e
*.ihex
*.pyc
*~
obj_*
Makefile.target
Makefile.*.defines
tools/doxygen/html
patches-*
tools/tunslip
tools/tunslip6
build
tools/coffee-manager/build/
tools/coffee-manager/coffee.jar
COOJA.testlog

# platform build artifacts
*.cc2538dk
*.cooja
*.jn516x
*.native
*.nrf52dk
*.openmote-cc2538
*.sky
*.firmware
*.srf06-cc26xx
*.zoul

# do not ignore platform makefiles
!Makefile.cc2538dk
!Makefile.cooja
!Makefile.jn516x
!Makefile.native
!Makefile.nrf52dk
!Makefile.openmote-cc2538
!Makefile.sky
!Makefile.srf06-cc26xx
!Makefile.zoul

# other nRF52 build artifacts
*.jlink

#test artifacts
*.testlog
*.scriptlog
*.coojalog
*.summary
*.err
summary
tests/[0-9][0-9]-*/org/

# x86 UEFI files
cpu/x86/uefi/Makefile.uefi
cpu/x86/uefi/edk2
