*.a
*.bin
*.hex
*.map
*.png
*.log
*.elf
*.zip
*.d
*.o
*.e
*.ihex
*.pyc
*~
build/*
Makefile.target
Makefile.*.defines
tools/doxygen/html
tools/readthedocs/_build
tools/readthedocs/doc
tools/readthedocs/examples
patches-*
tools/serial-io/tunslip6
tools/serial-io/serialdump
serialdump-*
build
tools/coffee-manager/build/
tools/coffee-manager/coffee.jar
COOJA.testlog

# do not ignore images in documentation
!tools/readthedocs/**/*.png
!doc/**/*.png

# other nRF52 build artifacts
*.jlink

#test artifacts
*.testlog
*.scriptlog
*.coojalog
*.summary
*.err
summary
tests/18-coap-lwm2m/Californium.properties
tests/18-coap-lwm2m/leshan-server-demo*.jar
